[Unit]
Description=Google Calendar Reminder

[Service]
Type=oneshot
KillMode=process
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus
ExecStart=/home/emacs/.local/bin/gcalcli-remind
