[Unit]
Description=もちもちエンジニアトピックス ショート publish

[Timer]
OnCalendar=*-*-* 13:00:00
OnCalendar=*-*-* 20:00:00
Persistent=true

[Install]
WantedBy=timers.target
