[push]
  default = current
[user]
  name = kamijodev
  email = kamijodev@gmail.com
[alias]
  st = status
  com = commit
  ame = commit --amend
  co = checkout
  sw = switch
  br = branch
  l1 = log --oneline
  back = reset --hard HEAD^
  cp = cherry-pick
[core]
  editor = nvim
[init]
	defaultBranch = main
