// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "eDP-1" {
    mode "2880x1800@60.000"
    scale 1.5
    position x=760 y=1440
}

output "HDMI-A-1" {
    mode "3440x1440@84.957"
    scale 1
    position x=0 y=0
}